{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- hero -->
  <section class="overflow-hidden">
    <div class="container d-flex flex-column py-20 min-vh-100 level-3">
      <div class="row align-items-center justify-content-center justify-content-lg-between my-auto">
        <div class="col-md-8 col-lg-5 order-lg-2 mb-5 mb-lg-0" data-aos="fade-up">
          <img src="{% static 'assets/images/svg/graphic-1.svg' %}" class="img-fluid" alt="Illustration">
        </div>
        <div class="col-md-10 col-lg-6 col-xl-5 text-center text-lg-start order-lg-1">
          <h2>Leading Recipe Costing Calculator For Food Businesses Of All Types And Sizes</h2>
          <p class="lead text-secondary mb-5">Leading cost of recipe calculator for all size food businesses, 
            helping chefs worldwide succeed wih simplicity, certainty and speed,
            have <strong>CHEFINTEL</strong> help you make intelligent choices to maximize profit and save time.
          </p>
          <div class="row align-items-center g-3">
            <div class="col-md-auto">
              <a href="#" class="btn btn-primary btn-with-icon rounded-pill btn-lg">Get Started <i
                  class="bi bi-arrow-right"></i></a>
            </div>
            <div class="col text-md-start">
              <p class="text-primary">Get limited time <span class="fw-bold">20%
                  discount</span> for
                our premium plan.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <figure class="background">
      <svg width="100%" height="100%" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle data-aos="fade-up" data-aos-delay="200" cx="120%" cy="-40%" r="50%" stroke="#dddddd" stroke-opacity="1"
          data-center-top="@r: 50%;" data-top-bottom="@r: 70%;" />
        <circle data-aos="fade-up" data-aos-delay="400" cx="85%" cy="125%" r="75%" stroke="#dddddd" stroke-opacity="1"
          data-center-top="@r: 75%;" data-top-bottom="@r: 95%;" />
        <circle data-aos="fade-up" data-aos-delay="600" cx="-25%" cy="125%" r="50%" stroke="#dddddd" stroke-opacity="1"
          data-center-top="@cx: -25%;" data-top-bottom="@cx: 45%;" />
      </svg>
    </figure>
  </section>
  <!-- logo list -->
  <section class="py-10 border-bottom bg-light">
    <div class="container">
      <div class="carousel carousel-align text-center">
        <div
          data-carousel='{"gutter": 48, "loop": false, "nav": false, "controls": false, "responsive": {"0": {"items": 2}, "768": {"items": 4}, "1200": {"items": 5}}}'>
          <div>
            <img src="{% static 'assets/images/logo/logo-1.svg' %}" alt="Logo" class="logo">
          </div>
          <div>
            <img src="{% static 'assets/images/logo/logo-2.svg' %}" alt="Logo" class="logo">
          </div>
          <div>
            <img src="{% static 'assets/images/logo/logo-3.svg' %}" alt="Logo" class="logo">
          </div>
          <div>
            <img src="{% static 'assets/images/logo/logo-4.svg' %}" alt="Logo" class="logo">
          </div>
          <div>
            <img src="{% static 'assets/images/logo/logo-5.svg' %}" alt="Logo" class="logo">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- content -->
  <section class="py-15 py-xl-20 bg-light">
    <div class="container">
      <div class="row align-items-center justify-content-center justify-content-lg-between">
        <div class="col-md-8 col-lg-5 mb-5 mb-xl-0" data-aos="fade-up">
          <img src="{% static 'assets/images/svg/graphic-2.svg' %}" class="img-fluid" alt="Illustration">
        </div>
        <div class="col-lg-6 text-center text-lg-start">
          <h2>Start getting bigger numbers today</h2>
          <ul class="list-group list-group-separated">
            <li class="list-group-item py-4">
              <p class="text-muted lead"><span class="text-black">Professional relocation</span> package to help you
                move to Amsterdam.</p>
            </li>
            <li class="list-group-item py-4">
              <p class="text-muted lead"><span class="text-black">We know how</span> to manage distributed teams, so
                working from home is an option for most of our vacancies.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
    <!-- video -->
  <section class="py-15 py-xl-20 min-vh-75 position-relative overflow-hidden bg-black inverted">
    <div class="container level-3">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 text-center mb-5">
          <h2>Start getting bigger numbers today</h2>
        </div>
        <div class="col-lg-10 position-relative">
          <figure class="media media-video equal-16-10" data-bp='{"ytSrc": "JFm7YDVlqnI"}'>
            <span style="background-image: url('{% static 'assets/images/saas-1.jpg' %}')">
            </span>
          </figure>
        </div>
        <div class="col-lg-6 text-center mt-5">
          <small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus blanditiis
            culpa tenetur adipisci
            exercitationem itaque veritatis maxime laborum, dolore perferendis?</small>
        </div>
      </div>
    </div>
    <figure class="background">
      <img class="position-absolute top-50 start-50 translate-middle" src="{% static 'assets/images/svg/pattern-lg-light.svg' %}"
        alt="Image">
    </figure>
  </section>
  <!-- features -->
  <section class="py-15 py-xl-20">
    <div class="container">
      <div class="row justify-content-center mb-6">
        <div class="col-lg-8 text-center">
          <h2 class="fw-bold"><span class="d-lg-block">Don't trust us.</span> Trust our numbers.</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-10" data-aos="fade-up">
          <div class="row separated">
            <div class="col-lg-7 p-5">
              <div class="d-flex align-items-end">
                <h5 class="fs-1 mb-0 me-2 lh-1 text-primary fw-bold">18.5%</h5>
                <p class="text-secondary">guaranteed revenue growth</p>
              </div>
            </div>
            <div class="col-lg-5 p-5">
              <div class="d-flex align-items-end">
                <h5 class="fs-1 mb-0 me-2 lh-1 text-primary fw-bold">224</h5>
                <p class="text-secondary">curently active clients</p>
              </div>
            </div>
            <div class="col-lg-5 p-5">
              <div class="d-flex align-items-end">
                <h5 class="fs-1 mb-0 me-2 lh-1 text-primary fw-bold">10</h5>
                <p class="text-secondary">finished projects</p>
              </div>
            </div>
            <div class="col-lg-7 p-5">
              <div class="d-flex align-items-end">
                <h5 class="fs-1 mb-0 me-2 lh-1 text-primary fw-bold">99.9%</h5>
                <p class="text-secondary">of our clients are returning</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- code -->
  <section class="pt-0 px-15 pb-xl-20">
    <div class="container">
      <div class="row justify-content-between align-items-center gutter-3 gutter-lg-5">
        <div class="col-lg-6 col-xl-5 text-center text-lg-start mb-5 mb-lg-0">
          <h2>Start writing clean and optimized code.</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quos magni quisquam fuga quidem sapiente
            architecto, error eligendi fugiat sequi repellendus dolorum numquam distinctio, officiis.</p>
        </div>
        <div class="col-lg-6" data-aos="fade-up">
          <div class="browser bg-black inverted">
            <span></span>
            <div class="p-5">
              <script type="text/plain" class="language-css">
                body {
                  position: relative;

                > section,
                  > footer {
                    position: relative;
                    margin: 0 auto;
                    padding: $section-padding 0;
                  }
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- pricing -->
  <section class="py-15 py-xl-20 bg-black inverted">
    <div class="container">
      <div class="row align-items-end g-4 g-lg-0">
        <div class="col-xl-3 d-none d-xl-block">
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item ps-0 py-3">Ingredients</li>
              <li class="list-group-item ps-0 py-3">Recipes</li>
              <li class="list-group-item ps-0 py-3">Sub-Recipes</li>
              <li class="list-group-item ps-0 py-3">Margin/Selling Calculator</li>
              <li class="list-group-item ps-0 py-3">Food Allergens</li>
              <li class="list-group-item ps-0 py-3">Ingredient Swapping </li>
              <li class="list-group-item ps-0 py-3">Supplier Management</li>
              <li class="list-group-item ps-0 py-3">Customer Management</li>
              <li class="list-group-item ps-0 py-3">Waste & Loss Calculator</li>
              <li class="list-group-item ps-0 py-3">Measurement Converter</li>
              <li class="list-group-item ps-0 py-3">Inventory Management</li>
              <li class="list-group-item ps-0 py-3">Ingredient Cost History</li>
              <li class="list-group-item ps-0 py-3">Currency Preference</li>
              <li class="list-group-item ps-0 py-3">Recipe Scaling </li>
              <li class="list-group-item ps-0 py-3">Recipe Instructions</li>
              <li class="list-group-item ps-0 py-3">Image Uploading</li>
              <li class="list-group-item ps-0 py-3">Export XLS, CSV</li>
              <li class="list-group-item ps-0 py-3">Print/Save/PDF</li>
              <li class="list-group-item ps-0 py-3">Production Planning</li>
              <li class="list-group-item ps-0 py-3">Nutrition Data & Labels</li>
            </ul>
          </div>
        </div>
        {% for each in subscriptions %}
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card bg-primary">
            <div class="card-body">
              <h3 class="lead mb-2">{{each.title}}</h3>
              <span class="h2 fw-bold">${{each.price}}</span>
              <p class="mt-2 mb-4 text-secondary">{{each.description}}</p>
              <a href="#" class="btn btn-outline-white btn-with-icon rounded-pill">Buy Now <i
                  class="bi bi-arrow-right"></i></a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex align-items-center py-3"><span
                  class="me-2 fs-6  d-xl-inline-block">{{each.ingredients}}</span> 
                  <span class="d-xl-none">Ingredients</span>
              </li>
              <li class="list-group-item d-flex align-items-center py-3"><span
                class="me-2 fs-6  d-xl-inline-block">{{each.recipes}}</span>
                  <span class="d-xl-none">Recipes</span>
              </li>
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.sub_recipes %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                <span class="d-xl-none">Sub-Recipes</span>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %}
              </li>
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.margin_and_selling_calculator %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                <span class="d-xl-none">Margin/Selling Calculator</span></li>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %}</i> 
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.food_allergens %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %} 
                <span class="d-xl-none">Food Allergens</span>
              </li>
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.ingredient_swapping %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                <span class="d-xl-none">Ingredient Swapping</span>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %} 
              </li>
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.supplier_management %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                <span class="d-xl-none">Supplier Management</span>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %}
              </li>
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.customer_management %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                <span class="d-xl-none">Customer Management</span>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %} 
              </li>
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.waste_and_Loss_calculator %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                <span class="d-xl-none">Waste & Loss Calculator</span>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %} 
              </li>
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.measurement_converter %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                <span class="d-xl-none">Measurement Converter</span>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %} 
              </li>
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.inventory_management %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                <span class="d-xl-none">Inventory Management</span>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %} 
              </li>
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.ingredient_cost_history %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                <span class="d-xl-none">Ingredient Cost History</span>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %} 
              </li>
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.currency_preference %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                <span class="d-xl-none">Currency Preference</span>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %} 
              </li>
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.recipe_scaling %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                <span class="d-xl-none">Recipe Scaling</span>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %} 
              </li>
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.recipe_instructions %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                <span class="d-xl-none">Recipe Instructions</span>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %} 
              </li>
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.image_uploading %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                <span class="d-xl-none">Image Uploading</span>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %} 
              </li>
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.export_xls_csv %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                <span class="d-xl-none">Export XLS, CSV</span>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %} 
              </li>
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.print_save_pdf %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                <span class="d-xl-none">Print/Save/PDF</span>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %} 
              </li>
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.production_planning %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                <span class="d-xl-none">Production Planning</span>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %} 
              </li>
              <li class="list-group-item d-flex align-items-center py-3">
                {% if each.nutrition_data_and_labels %}
                <i class="bi bi-check2 me-2 fs-5 d-none d-xl-inline-block"></i>
                <span class="d-xl-none">Nutrition Data & Labels</span>
                {% else %}
                <i class="bi bi-x me-2 fs-5 d-none d-xl-inline-block text-muted"></i>
                {% endif %} 
              </li>
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
    <!-- contact -->
  <section class="py-15 py-xl-20">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <h2 class="fw-bold mb-6">Let's make something big. Together.</h2>
          <div class="row g-3">
            <div class="col-md-6">
              <label for="yourName" class="form-label">Your Name</label>
              <input type="text" class="form-control" id="yourName" placeholder="Your Name">
            </div>
            <div class="col-md-6">
              <label for="yourCompany" class="form-label">Your Company</label>
              <input type="text" class="form-control" id="yourCompany" placeholder="Your Company">
            </div>
            <div class="col-md-12">
              <label for="yourMessage" class="form-label">Message</label>
              <textarea class="form-control" id="yourMessage" rows="3" placeholder="Message"></textarea>
            </div>
            <div class="col-md-8 mt-4">
              <a href="#" class="btn btn-lg btn-primary btn-with-icon rounded-pill">Start 30 Days Trial <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}